#pages {
    display: flex;
}

.links-column {
    flex: 1;
}

.divider-column {
    width: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.divider {
    flex:1;
    width: 2px;
    height: 10px;
    background-color: gray;    
}
.seleccion{
    width: 4px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 1px;
}
.enlaceActivo{
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255);
    font-size: large;
}

#pages a {
    display: block;
    padding: 10px 0;
    /* width: max-content;  */
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.principal{
    align-items: flex-end;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 3.125rem;
    height: calc(80vh - 6.25rem);
    position: fixed;
    padding-top: 10px;
    @media (max-width: 400){
        right: 2.125rem;
    }
    
}

.boton {
    display: inline-block;
    padding: 8px 22px;
    border: 2px solid white;
    font-weight: 600;
    font-size: 17px;
    color: white;
    text-decoration: none;
    transition: all .4s ease-in-out;
    border-radius: 6px;
    cursor: pointer;
    @media (max-width: 768px){
        padding: 2px 10px;
    }
}
  
.boton:hover {
    background-color: white;
    color: black;
}
  
.boton:active {
    background-color: white;
    color: black;
    border-color: black;
}

nav{
    @media (max-width: 936px){
        display: none;
    }
}