<!-- <div *ngFor="let position of positions" class="imagen" [style.left.px]="position.x" [style.top.px]="position.y" >
    <img src="../../../assets/star1.jpg" alt="imagen" class="imagen1">
</div>
<div *ngFor="let position of positions2" class="imagen" [style.left.px]="position.x" [style.top.px]="position.y" >
    <img src="../../../assets/star1.jpg" alt="imagen" class="imagen2">
</div> -->
<div class="animacionEstrella">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="estilos-generales">
    <!-- <div class="container" *ngIf="this.valor.valorSignal() === 0"[@slideFromBottom]> -->
    <div class="container" [ngClass]="{'divOcultar': this.valor.valorSignal() != 0}"[@slideFromBottom]>
        <div class="left-div">
            <p class="bienvenidos">Bienvenidos!</p>
            <h2>Yo soy</h2>
            <h1 class="fontH1">
                <div>
                    <span>A</span>
                    <span>L</span>
                    <span>I</span>
                    <span>C</span>
                    <span>I</span>
                    <span>A</span>
                </div>
                <div>
                    <span>N</span>
                    <span>A</span>
                    <span>Z</span>
                    <span>A</span>
                    <span>R</span>
                </div>
            </h1>
            <h3 class="h3-principal">Desarrolladora de Software</h3>
            <h3 class="h3-principal">Backend - Frontend</h3>
        </div>
        <div class="right-div">
          <img src="../../../assets/programadora-.jpg" alt="">
        </div>
        <img src="../../../assets/notebook.jpg" alt="" class="imagen-atras">
        <img src="../../../assets/onda.png" alt="" class="imagen-atras-onda">
    </div>
    
    <!-- <div class="contenedor" *ngIf="this.valor.valorSignal() === 1"[@slideFromBottom]> -->
    <div class="contenedor" [ngClass]="{'divOcultar': this.valor.valorSignal() != 1}"[@slideFromBottom]>
        <div class="arriba">
            <h1 class="fontH1">
                <div>
                    <span>H</span>
                    <span>a</span>
                    <span>b</span>
                    <span>i</span>
                    <span>l</span>
                    <span>i</span>
                    <span>d</span>
                    <span>a</span>
                    <span>d</span>
                    <span>e</span>
                    <span>s</span>
                </div>
                <div>
                    <span>y</span>
                </div>
                <div>
                    <span>E</span>
                    <span>x</span>
                    <span>p</span>
                    <span>e</span>
                    <span>r</span>
                    <span>i</span>
                    <span>e</span>
                    <span>n</span>
                    <span>c</span>
                    <span>i</span>
                    <span>a</span>
                </div>
            </h1>
            <p>Trabajé en una variedad de proyectos que van desde aplicaciones web hasta móviles. Mi experiencia abarca desde el desarrollo frontend, con dominio de HTML, CSS, JavaScript y frameworks como Angular,  hasta el backend, complementado con trabajo en APIs y bases de datos.</p>
            <p>Utilizo tecnologías como C#, Python y Ionic para crear soluciones robustas y eficientes. Mi enfoque se centra en ofrecer resultados que sean escalables, seguros y centrados en el usuario, destacando por su calidad y rendimiento. </p>
        </div>
        <div class="abajo">
            <div class="skills">
                <div>
                    <img src="../../../assets/angular.png" alt="">
                    <p>Angular</p>
                </div>
                <div>
                    <img src="../../../assets/bootstrap.png" alt="">
                    <p>Bootstrap</p>
                </div>
                <div>
                    <img src="../../../assets/c.png" alt="">
                    <p>C#</p>
                </div>
                <div>
                    <img src="../../../assets/html.png" alt="">
                    <p>HTML5</p>
                </div>
                <div>
                    <img src="../../../assets/css.png" alt="">
                    <p>CSS3</p>
                </div>
                <div>
                    <img src="../../../assets/js.png" alt="">
                    <p>JavaScript</p>
                </div>
                <div>
                    <img src="../../../assets/git.png" alt="">
                    <p>Git</p>
                </div>
                <div>
                    <img src="../../../assets/ionic.png" alt="">
                    <p>Ionic</p>
                </div>
                <div>
                    <img src="../../../assets/mysql.png" alt="">
                    <p>MySql</p>
                </div>
                <div>
                    <img src="../../../assets/python.png" alt="">
                    <p>Python</p>
                </div>
                <div>
                    <img src="../../../assets/vs.png" alt="">
                    <p>Visual Studio</p>
                </div>
                <div>
                    <img src="../../../assets/vsc.png" alt="">
                    <p>Visual Studio Code</p>
                </div>
            </div>
        </div>
        <img src="../../../assets/lenguajes.png" alt="" class="imagen-atras-lenguajes">
    </div>
    
    <!-- <div class="contenedor" *ngIf="this.valor.valorSignal() === 2"[@slideFromBottom]> -->
        <div class="contenedor" [ngClass]="{'divOcultar': this.valor.valorSignal() != 2}"[@slideFromBottom]>
        <div class="arriba">
            <h1 class="fontH1">
                <div>
                    <span>M</span>
                    <span>I</span>
                    <span>S</span>
                </div>
                <div>
                    <span>P</span>
                    <span>R</span>
                    <span>O</span>
                    <span>Y</span>
                    <span>E</span>
                    <span>C</span>
                    <span>T</span>
                    <span>O</span>
                    <span>S</span>
                </div>
            </h1>
        </div>
        
      
        <ng-container *ngFor="let proyecto of proyectos; let i = index" this.actualizarIndices(i)>
            <ng-container *ngIf="i === currentIndex">
                <mat-card class="proyectos">
                    <mat-card-header>
                        <mat-card-title>{{proyecto.nombre}}</mat-card-title>
                        <mat-card-subtitle>{{proyecto.descripcion}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="proyecto.imagen" alt="{{proyecto.nombre}}">
                    <mat-card-content>
                        <p>{{proyecto.descripcionLarga}}<a target="_blank" href="proyecto.github" style="color:#017cff; text-decoration: none;">{{proyecto.nombre}}</a></p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="this.actualizarIndices(i-1)" class="botonSigAtras">&lt;</button>
                        <button mat-button (click)="this.actualizarIndices(i+1)" class="botonSigAtras">&gt;</button>
                      </mat-card-actions>
                </mat-card>
            </ng-container>
        </ng-container>
        
    </div>
    
    <!-- <div class="contenedor" *ngIf="this.valor.valorSignal() === 3"[@slideFromBottom]> -->
        <div class="contenedor" [ngClass]="{'divOcultar': this.valor.valorSignal() != 3}"[@slideFromBottom]>
        <div class="arriba">
            <h1 class="fontH1">
                <div>
                    <span>M</span>
                    <span>I</span>
                </div>
                <div>
                    <span>C</span>
                    <span>U</span>
                    <span>R</span>
                    <span>R</span>
                    <span>I</span>
                    <span>C</span>
                    <span>U</span>
                    <span>L</span>
                    <span>U</span>
                    <span>M</span>
                </div>
            </h1>
        </div>
        <div class="cv" >
            <a href="../../../assets/CV - Nazar - Técnica Analista de Sistemas.pdf" class="a-cv" download>
                <img src="../../../assets/CV - Nazar - Técnica Analista de Sistemas.png" alt="Mi CV">
            </a>
        </div>
        <!-- <img src="../../../assets/fondo-onda.gif" alt="" class="imagen-atras-onda-mov"> -->
    </div>
    
    <!-- <div class="contenedor" *ngIf="this.valor.valorSignal() === 4"[@slideFromBottom]> -->
        <div class="contenedor" [ngClass]="{'divOcultar': this.valor.valorSignal() != 4}"[@slideFromBottom]>
        <div class="arriba">
            <h1 class="fontH1">
                <div>
                    <span>C</span>
                    <span>O</span>
                    <span>N</span>
                    <span>T</span>
                    <span>A</span>
                    <span>C</span>
                    <span>T</span>
                    <span>A</span>
                    <span>M</span>
                    <span>E</span>
                </div>
            </h1>
        </div>
        <div class="div-contacto">
            <h2>Si querés ponerte en contacto conmigo podés encontrarme en <a target="_blank" href="https://www.linkedin.com/in/alicia-nazar" class="contacto">LinkedIn</a></h2>
            <h3>Además, aquí te dejo un apartado donde podés dejarme un mensaje.</h3>
            <app-contacto></app-contacto>            
        </div>
    </div>
</div>
