<form action="https://formsubmit.co/48fc795df6cfc2c5be1a884b956e16af" method="POST">
    <label for="Nombre" aria-required="true">Nombre</label>
    <input type="text" name="name">

    <label for="email" aria-required="true">Email</label>
    <input type="email" name="email">

    <label for="comments" aria-required="true">Mensaje</label>
    <textarea name="comments" id="" cols="15" rows="5" style="resize: none;"></textarea>

    <input type="submit" value="Enviar" class="boton">
    <input type="hidden"name="_next" value="https://alicia-nazar.netlify.app/">
    <input type="hidden"name="_captcha" value="false">
</form> 




















<!-- https://formsubmit.co/ -->